@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    animation: forwards fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    font-family: 'Goldman', cursive;
    text-transform: uppercase;
    background-color: #f3f3f3;
}

header {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
}

section {
    text-align: center;
}

section h2 {
    font-size: 30px;
    padding-bottom: 10px;
}

img {
    width: 300px;
}

.jogador1 {
    position: absolute;
    left: 250px;
    top: 150px;
    color: rgba(0, 0, 255, 0.650);
}

.jogador2 {
    position: absolute;
    right: 250px;
    top: 150px;
    color: rgba(255, 0, 0, 0.650);
}

footer {
    position: absolute;
    margin-bottom: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.5em;
}